absl-py==1.4.0
altgraph==0.17.3
asgiref==3.7.2
astroid==2.14.2
astunparse==1.6.3
attrs==22.2.0
autopep8==1.7.0
beautifulsoup4==4.11.2
boxsdk==3.7.1
bs4==0.0.1
cachetools==5.2.0
cattrs==22.2.0
certifi==2022.9.14
chardet==5.0.0
charset-normalizer==3.0.1
chatgptpy==1.0.8
click==8.1.3
colorama==0.4.6
contourpy==1.0.5
cssselect2==0.7.0
cx-Freeze==6.13.1
cycler==0.11.0
Cython==0.29.33
deepface==0.0.78
diagrams==0.23.3
dill==0.3.6
distlib==0.3.6
Django==4.2.4
django-bootstrap5==23.3
django-filter==23.2
django-pygments-renderer==0.0.1
djangorestframework==3.14.0
docstring-to-markdown==0.11
et-xmlfile==1.1.0
exceptiongroup==1.1.0
filelock==3.8.0
fire==0.5.0
Flask==2.2.3
Flask-Cors==4.0.0
flatbuffers==23.1.21
fonttools==4.37.4
future==0.18.2
gast==0.4.0
gdown==4.6.3
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.51.1
h5py==3.8.0
idna==3.4
isort==5.12.0
itsdangerous==2.1.2
jedi==0.18.2
jedi-language-server==0.40.0
Jinja2==3.1.2
keras==2.11.0
kiwisolver==1.4.4
lazy-object-proxy==1.9.0
libclang==15.0.6.1
libusb1==3.0.0
lief==0.12.3
lsprotocol==2023.0.0a1
lxml==4.9.2
Markdown==3.2.1
MarkdownToPdf @ git+https://github.com/yoshiyuki-140/MarkdownToPdf.git@43ed5f12c1638fdb303cb74703fca97912122d0a
MarkupSafe==2.1.2
matplotlib==3.6.0
mccabe==0.7.0
mpmath==1.2.1
mtcnn==0.1.1
ndeflib==0.3.3
nfcpy==1.0.4
numpy==1.23.3
oauthlib==3.2.2
opencv-python==4.6.0.66
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.3
parso==0.8.3
pdfkit==0.6.1
pefile==2022.5.30
Pillow==9.2.0
pipenv==2022.9.8
platformdirs==2.5.2
protobuf==3.19.6
psutil==5.9.4
py2exe==0.12.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pydantic==1.10.5
pyDes==2.0.1
pygame==2.1.2
pygame-textinput @ git+https://github.com/DYGV/pygame_textinput.git@590aaa6e1d129df63934d179d9deb19d42b5b257
pygls==1.0.1
Pygments==2.6.1
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pylint==2.16.3
pyparsing==3.0.9
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
python-http-client==3.3.7
pytz==2022.7.1
pywin32-ctypes==0.2.0
readchar==4.0.3
reportlab==3.6.12
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
retina-face==0.0.13
rsa==4.9
sendgrid==6.10.0
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.4
starkbank-ecdsa==2.2.0
svglib==1.5.1
sympy==1.11.1
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.30.0
termcolor==2.2.0
tinycss2==1.2.1
tls-client==0.1.8
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
tqdm==4.64.1
typed-ast==1.5.4
typeguard==2.13.3
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.14
virtualenv==20.16.5
virtualenv-clone==0.5.7
webencodings==0.5.1
Werkzeug==2.2.3
wget==3.2
wkhtmltopdf==0.2
wrapt==1.14.1
