<!DOCTYPE html>
</body>
</html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RandomDate</title>
</head>
<body>
  <h1>飛べるやつの一覧ね</h1>
  <p>
    こっちにとべ
    <ul>
      <li><a href="http://127.0.0.1:8000/get_dest/dest/1">中村記念美術館</a></li>
      <li><a href="http://127.0.0.1:8000/get_dest/dest/2">金沢能楽美術館</a></li>
      <li><a href="http://127.0.0.1:8000/get_dest/dest/3">金箔工芸館</a></li>
      <li><a href="http://127.0.0.1:8000/get_dest/dest/4">21世紀美術館</a></li>
      <li><a href="http://127.0.0.1:8000/get_dest/dest/5">いしかわ生活工芸ミュージアム</a></li>
      <li><a href="http://127.0.0.1:8000/get_dest/dest/6">国立工芸館</a></li>
    </ul>
  </p>
</body>
</html>